<!-- snippets/component__skeleton-upsell-item.liquid -->
{% comment %} 
  Placeholder while loading in upsell items.

  Usage:
    {% render 'component__skeleton-upsell-item' %}
  
  Globals:
    - settings.thumbmails_color_scheme: color scheme of thumbnails

  Pro tips:
    - Used on product section as a placeholder when loading in product upsells.
{% endcomment %}

<div class="animate-pulse md:snap-center border--width border--radius color__border-divider-1 upsell relative flex justify-center flex-none mb-2 overflow-hidden whitespace-normal">

  <div class="color__bg-body color__text flex items-center w-full">

    <div class="w-[25%] h-full flex-none">
      <div class="object-cover flex items-center h-full max-w-full aspect-[1/1] aspect-w-1 aspect-h-1
        {{ settings.thumbmails_color_scheme }}">
        <div class="color__bg-overlay-1 block w-4/5 h-4 mb-2"></div>
      </div>
    </div>

    <div class="flex flex-row items-center justify-between flex-grow p-4 text-left">
      <div class="grow flex gap-2">
        <div class="color__bg-overlay-1 border--radius block w-3/5 h-2"></div>
        <div class="color__bg-overlay-1 border--radius block w-2/5 h-2"></div>
      </div>
    </div>

  </div>
</div>