.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  font-size: 1.2rem;
  min-height: 1.6rem;
  letter-spacing: 0.02em;
  margin: 0;
  word-break: break-word;
  text-transform: uppercase;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}

@media screen and (min-width: 750px) {
  .product__accordion.description {
    display: none;
  }
}

.product-benefits__mobile--accordions .accordion__title {
  font-size: 1.8rem;
  text-transform: unset;
}

.product-benefits__mobile--accordions {
  margin-bottom: 3rem;
}

@media screen and (min-width: 900px) {
  .product-benefits__mobile--accordions {
    display: none;
  }
}